
body {
    overflow-x: hidden;
}
.header-img{
	background-color: black;
	height: 150px;
}.header-img img{
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 20px;
    max-width: 300px;

}.div{
	background-color: black;
	margin-top: 2px;
	height: 30px;
}.contact{
	margin-bottom:30%; 
	margin-top:10%;
}footer{
	background-color: black;
	height: 25vh;
	width: 100%;
   bottom: 0;
}.footer-imgs{
	width: 40px;
}footer p{
	color:white;
}.footer-imgs{
	width: 100%;
}
.footer-imgs img.SM{
	width: 45px;
	display: inline-block;
	margin:auto;
	margin-top: 50px;
	margin-bottom:5%;
}.playlist{
	margin-top: 10%;
	margin-bottom:10%;
}.arrow{
	width: 30px;
	display:block;
margin:auto;

}.arrow-cont{
	background-color: rgba(0,0,0,0.15);
}h2{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}.carousel-item img{
	width: 100vw;
}
.aboutus{
	background-color: rgba(0,0,0,0.15);
	padding-top: 20px;
	padding-left: 20px;
	margin-top:25px;
	height: 350px;
}.aboutus img{
	max-height: 200px;
	display: block;

}.carousel-item{
	height: 50vw;
	width: 100vw;
	max-height: 700px;
}.playl{
	background-color: rgba(0,0,0,0.15);
}.nav-item a{
	color: white;
}

